$mainAccent: #17a2b8;
$mainFont: #888;
$subtleGrey: #bbb;
$darkGrey: #404040;
$verySubtleGrey: #eee;
$lightFrame: #fff;
$borderRadius: 5px;

$subtleErrorBg: #efe0e0;

$flexbox-column-smaller: 35%;
$flexbox-column-bigger: 65%;
