.address {
  padding: 0 20px 20px 20px;
  position: relative;

  &__get-beers {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    border: 1px solid $subtleGrey;
    border-radius: $borderRadius;
    padding: 0 10px;
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;

    &:hover {
      background-color: $subtleGrey;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 3em;
    font-size: 1.25rem;
  }

  &__input {
    width: 100%;
    line-height: 3em;
    border: 1px solid $subtleGrey;
    border-radius: $borderRadius;
    color: $mainFont;
    padding: 0 20px 0 50px;
    font-size: 1.35rem;
    outline: none;
  }

  &__input-group {
    position: relative;

    &::before {
      font-size: 1.4rem;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-top: -25px;
      top: 50%;
      left: 0;
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f3c5";
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    position: relative;
    background-color: $verySubtleGrey;
    border-radius: $borderRadius;
    font-size: 1.2rem;
    line-height: 1.4em;
    padding: 1em 130px 1em 45px;
  }

  &__list-item::before {
    font-size: 1.3rem;
    display: block;
    width: 45px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: -17px;
    top: 50%;
    left: 0;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f3c5";
  }
}
