.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: $borderRadius;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 1.2rem;

  &--dark {
    background-color: $darkGrey;
    color: $verySubtleGrey;

    &:hover {
      background-color: $mainAccentContrast;
    }
  }

  &--light {
    border-color: $subtleGrey;

    &:hover {
      background-color: $verySubtleGrey;
    }
  }


}
