products.flex-content {
  flex-wrap: wrap;
  padding: 5px;

  @mixin atSmall {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin atLarge {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
  }
}

.products__item {
  flex: 1 0 20%;
  padding: 10px;
  border: 1px solid $subtleGrey;
  border-radius: $borderRadius;
  margin: 10px;
  text-align: center;
}
.product {

  &__image > img {
    height: 150px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;

    @mixin atMedium {
      height: 80px;
      line-height: 1.3em;
      font-size: 1.3rem;
    }
  }

  &__price {
    font-size: 1.8rem;
    line-height: 2em;
    font-weight: 600;

    @mixin atMedium {
      font-size: 2rem;
      height: 60px;
    }
  }

  &__controls {
    margin: 0 auto;
    display: flex;
    height: 40px;

    @mixin atLarge {
      max-width: 180px;
    }

    & > .btn {
      width: 40px;
    }
  }
}

.product__quantity {
  font-size: 1.25rem;
  line-height: 40px;
  flex: 1;
  border: 1px solid $subtleGrey;
  border-radius: $borderRadius;
  margin: 0 5px;
}
